body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

h1, p, #countdown {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

h1.animated, p.animated, #countdown.animated {
    opacity: 1;
    transform: translateY(0);
}

h1 {
    font-size: 36px;
    color: #333;
}

p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

#countdown {
    font-size: 24px;
    color: #555;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#timer {
    font-weight: bold;
}

.animated-svg {
    margin-top: 30px;
    animation: drawCircle 3s ease-in-out;
    opacity: 0;
    transform: translateY(20px);
}

.circle {
    fill: none;
    stroke: #3498db;
    stroke-width: 4;
    stroke-dasharray: 251;
    stroke-dashoffset: 251;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes drawCircle {
    0% {
        opacity: 0;
        stroke-dashoffset: 251;
    }
    100% {
        opacity: 1;
        stroke-dashoffset: 0;
    }
}
